$fa-font-path: "../node_modules/font-awesome/fonts";
@import'~font-awesome/scss/font-awesome.scss';

*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}

@media (max-width: 1200px){
    #navbar{
        .nav{
            display: none;
        }
        .menu{
            display: block!important;
        }
    }
    #header{
        height: 200px!important;
        .content{
            width: 100%!important;
        }
    }
    #content{
        width: 100%!important;
        .left-box{
            padding-right: 0!important;
        }
        .rihgt-box{
            display: none;
        }
    }
}