<nav id="navbar">
  <div class="content">
    <div class="ionic">
      <div class="circular" [class.tade]="iconStatus" (click)="iconClick()">
          <i class="fa fa-anchor"></i>
      </div>
    </div>
    <div class="nav">
      <ul>
        <li>
          <i class="fa fa-home"></i>
          <a>Home</a>
        </li>
        <li>
          <i class="fa fa-user"></i>
          <a>About</a>
        </li>
        <li>
          <i class="fa fa-photo"></i>
          <a>Portfolio</a>
        </li>
        <li>
          <i class="fa fa-tags"></i>
          <a>Tags</a>
        </li>
      </ul>
    </div>
    <div class="menu">
      <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
        <a nz-dropdown> 
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        <ul nz-menu>
          <li nz-menu-item>Home</li>
          <li nz-menu-item>About</li>
          <li nz-menu-item>Portfolio</li>
          <li nz-menu-item>Tags</li>
        </ul>
      </nz-dropdown>
    </div>
  </div>
</nav>
<header id="header">
  <img class="img" src="../../../assets/imgs/img.jpg" alt="Craft">
  <div class="content">
    <div class="text">
      <h2>HomeHomeHome</h2>
      <h2>HomeHomeHomeHomeHomeHome</h2>
    </div>
  </div>
  <div class="whalebox" [class.whale]="iconStatus"></div>
</header>
<div id="content">
  <div nz-row>
    <div class="left-box" nz-col [nzXl]="{ span: 16, offset: 2 }"  [nzSm]="{ span: 24, offset: 0 }">
      <div class="post-preview">
        <a>
          <h2 class="post-title">css3动画常用动画总结</h2>  
          <h3 class="post-subtitle">Learning summary</h3>  
          <div class="post-content-preview">
            前言
            这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。
            这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。动这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。
            这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。。...
          </div>
        </a>
        <p class="post-meta">Posted by Hehe559 on October 14, 2018</p>
      </div>
      <hr>
      <div class="post-preview">
        <a>
          <h2 class="post-title">css3动画常用动画总结</h2>  
          <h3 class="post-subtitle">Learning summary</h3>  
          <div class="post-content-preview">
            前言
            这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。
            这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。动这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。
            这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。。...
          </div>
        </a>
        <p class="post-meta">Posted by Hehe559 on October 14, 2018</p>
      </div>
      <hr>
      <div class="post-preview">
        <a>
          <h2 class="post-title">css3动画常用动画总结</h2>  
          <h3 class="post-subtitle">Learning summary</h3>  
          <div class="post-content-preview">
            前言
            这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。
            这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。动这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。
            这篇文章是我第一次写博客，尝试一下。这篇文章是我第一次写博客，尝试一下。。...
          </div>
        </a>
        <p class="post-meta">Posted by Hehe559 on October 14, 2018</p>
      </div>
      <hr>
    </div>
    <div class="rihgt-box" nz-col [nzXl]="{ span: 4 }" [nzSm]="{ span: 24 }">
      <div>
        <hr class="first-hr zw-dis-n">
        <div class="tags-title">
          FEATURED TAGS
        </div>
        <div class="tags">
          <a>闲谈</a>
          <a>css3</a>
          <a>ES6</a>
          <a>学习总结</a>
          <a>其他</a>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<!-- <div style="height:200px;width:300px;overflow-y:auto;border:1px solid red" appScroller>
  <div style="height:2000px;width:300px;">
      <h1>dd</h1>
      <h1>dd</h1>
      <h1>ddd</h1>
      <h1>dd</h1>
      <h1>dd</h1>
      <h1>dd</h1>
      <h1>dd</h1>
      <h1>dd</h1>
      <h1>ddd</h1>
      <h1>dd</h1>
      <h1>dd</h1>
      <h1>dd</h1>
      <h1>ddd</h1>
  </div>
</div> -->
