#navbar{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    .content{
        margin: 0 10px;
        height: 100%;
        position: relative;
        .ionic{
            float: left;
            width: 120px;
            margin-top: 10px;
            margin-left: 15px;
            .circular{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: aliceblue;
                border: 3px solid white;
                text-align: center;
                line-height: 34px;
                color: #ccc;
                cursor:pointer;
            }
            // .circular:hover{
            //     -webkit-animation: tada 1s linear .2s infinite;
            //     -moz-animation: tada 1s linear .2s infinite;
            // }
        }
        .nav{
            float: right;
            width: 320px;
            i{
                margin-right: 5px;
                color: cornflowerblue;
            }
            li{
                padding: 0px 10px;
                float: left;
                line-height: 60px;
                text-align: center;
                list-style:none;
                a{
                    cursor:pointer;
                }
            }
        }
        .menu{
            width: 35px;
            float: right;
            position: absolute;
            top: 33%;
            right: 15px;
            z-index: 99;
            cursor: pointer;
            display: none;
            span{
                display: block;
                margin-bottom: 2px;
                width: 100%;
                height: 5px;
                background: #2F2F2F;
            }
        }
    }
}
#header{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    .img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        z-index: -1;
    }
    .content{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        .text{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            margin: 0 auto;
            width: 100%;
        }
    }
    .whalebox{
        position: absolute;
        top: 100%;
        left:100%;
        width: 50%;
        height: 300px;
        background-size: 100%;
        background-image: url("/assets/imgs/whale.png");
        background-repeat: no-repeat;
    }
}
#content{
    width: 1200px;
    height: 600px;
    padding: 0px 15px;
    margin: 0 auto;
    .left-box{
        padding-right: 5%;
        .post-preview{
            .post-title{
                font-size: 26px;
                line-height: 1.3;
                margin-bottom: 10px;
                font-weight: 700;
            }
            .post-subtitle{
                font-size: 16px;
                line-height: 1.3;
                margin: 0;
                font-weight: 300;
                margin-bottom: 10px;
            }
            .post-content-preview{
                font-size: 14px;
                font-style: italic;
                color: #a3a3a3;
            }
            .post-meta{
                font-family: Lora,'Times New Roman',serif;
                color: gray;
                font-size: 18px;
                font-style: italic;
                margin-top: 0;
            }
        }
        hr{
            margin: 20px 0;
            border: 0;
            border-top: 1px solid #eee;
        }   
    }
}

.tade{
    -webkit-animation: tada 2s linear .2s infinite;
    -moz-animation: tada 2s linear .2s infinite;
}

@-moz-keyframes tada{
    0%{-moz-transform:scale(1);}
    10%,20%{-moz-transform:scale(0.9) rotate(-6deg);}
    30%,50%,70%,90%{-moz-transform:scale(1.2) rotate(6deg);}
    40%,60%,80%{-moz-transform:scale(1.2) rotate(-6deg);}
    100%{-moz-transform:scale(1) rotate(0);}
}

@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1);}
    10%,20%{-webkit-transform:scale(0.9) rotate(-6deg);}
    30%,50%,70%,90%{-webkit-transform:scale(1.2) rotate(6deg);}
    40%,60%,80%{-webkit-transform:scale(1.2) rotate(-6deg);}
    100%{-webkit-transform:scale(1) rotate(0);}
}

.whale{
    -webkit-animation: whale 2s linear .2s;
    -moz-animation: whale 2s linear .2s;
}

@-moz-keyframes whale{
    0%{top: 100%;left:100%;}
    25%{top: 75%;left: 75%;}
    50%{top: 45%;left: 50;}
    75%{top: 75%;left: 0%;}
    100%{top: 100%;left: -50%;}
}

@-webkit-keyframes whale{
    0%{top: 100%;left:100%;}
    25%{top: 75%;left: 75%;}
    50%{top: 45%;left: 50;}
    75%{top: 75%;left: 0%;}
    100%{top: 100%;left: -50%;}
}